<!DOCTYPE html>
<html>
<head>
    <title>Corrisk Group Project</title>
</head>
<body style= "text-align: center;">
    <h1>Corrisk Group Project</h1>
    <p>Raymond Hurst - Project Manager & Crypto Data Analyst </p>
    <p>Michael Bejan - Crypto Data Analyst</p>
    <p>Nathan Duft - Crypto Data Analyst</p>
    <p>Ahmed Mohamed - CLI Developer & Crypto Analyst</p>
    <p>Leo Harada - Flask Developer</p>

    <h2>IMAGE 1 INTERPRETATION</h2>
    <img src="{{ user_image }}" alt="User Image"/>      
</body>

</html>