{% extends "layout.html" %}
{% block content %}
   <div class="about">
     <h1>About Our Team</h1>
     <p>We are a group of young professionals who all share a passion for staying informed on events within the cryptocurrency space.
      <br>Despite our love for this industry, we recognize the need for  more sources of unbiased market information.<br>
      <br> In order for the cryptocurrency sector to go mainstream, participants in the space need to improve the general quality of discourse regarding market trends. 
      <br> As a part of this general improvement, participants in this market will need to integrate traditional metrics for evaluating securties.
      <br>
      <br>We aim to provide our users with a simple and easily understandable platform where they can access quality visuals based on conventionally accepted analytical methods.<br>
      <br>Our primary wish is to provide utility for users who already understand traditional security valuation strategies for risk and reward.
      <br>However, we also hope to encourage inexperienced speculators to add to their analytical toolbox when evaluating cryptocurrency assets.
     </p>
     <p>
      <br>Ray Hurst:  
      <br>Project Manager, Auxiliary Web Developer / Analyst <br>
      <br>Ahmed Mohammed: 
      <br>Analyst, Researcher <br>
      <br>Leo Harada: 
      <br>Sales Specialist, Web Developer <br>
      <br>Nathan Duft: 
      <br>Analyst, Back End Developer <br>
      <br>Michael Bejan: 
      <br>Analyst, Back End Developer <br>
    </p>
   </div>
 {% endblock %}