{% extends "layout.html" %}
{% block content %}
  <div class="home">
    <h1>Welcome!</h1>
    <p>Crypto Corrisk aims to encourage informed retail investing, not unfounded price speculation.<br>
      <br>The purpose of this site it to provide accessible and digestible information of popular cryptocurrencies in both past and present market conditions.
      <br>Our goal is to cut through all of the market noise, and give consumers access to no-nonsense historic visuals and comprehensive price forecasting in the near-term.
      </p>
  </div>
{% endblock %}